.popup__photo {
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: none;
  margin: 0 auto;
  z-index: 3;
}